@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
/* font-family: 'Poppins', sans-serif; */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
/* font-family: 'Poppins', sans-serif; */



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.nav_menu {
    background: linear-gradient(to right, rgb(1, 1, 68), rgba(3, 0, 29, 0.938));
    display: flex;
    align-items: center;
    padding: 0px 4%;

}

.nav_menu>h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
}